<header class="main-header" style="background-image: url(<%= asset_path 'home-cover.jpg' %>)">
    <div class="dark-slice-for-the-cover"></div>
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="<%= request.base_url %>"><img src="<%= asset_path 'logo.png' %>" alt="Clube dos Projetos" /></a>
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Finding The Way Home</h1>
            <h2 class="page-description">A beautiful narrative written with the world's most elegant publishing platform. The story begins here.</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">    
    <div class="extra-pagination inner">
        {{pagination}}
    </div>

    <% @posts.each do |post| %>
      <article class="post">
          <header class="post-header">
              <h2 class="post-title"><a href="<%= post_path(post) %>"><%= post.title %></a></h2>
          </header>
          <section class="post-excerpt">
              <p><%= truncate(strip_tags(post.content),:length => 150, :separator => ' ', :omission => '') %> <a class="read-more" href="<%= post_path(post) %>">&raquo;</a></p>
          </section>
          <footer class="post-meta">
              <img class="author-thumb" src="<%= asset_path 'perfil.jpg' %>" alt="Rurik S. Pinheiro" nopin="nopin" />
              <a href="">Rurik Pinheiro</a>
              <time class="post-date" ><%= post.created_at.strftime("%d/%m/%Y - %H:%M")%></time>
          </footer>
      </article>
    <% end %>

    <nav class="pagination" role="navigation">
        <span class="page-number">Página 1 de 2</span>
            <a class="older-posts" href="#">Próximo <span aria-hidden="true">→</span></a>
    </nav>

</main>