<header class="main-header post-head <%= 'no-cover' if @post.image.blank? %>" style="<%= 'background-image: url('+ asset_path(@post.image) +')' if not @post.image.blank? %>" >
    <nav class="main-nav clearfix">
        <a class="blog-logo" href="<%= request.base_url %>"><img src="<%= asset_path 'logo.png' %>" alt="Clube dos Projetos" /></a>
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
</header>

<main id="content" class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title"><%= @post.title %></h1>
	        <section class="post-meta">
	        	<time class="post-date"><%= @post.created_at.strftime('%d/%m/%Y %H:%M') %></time>
	        </section>
        </header>
    	<section class="post-content">
    	    <%= render html: @post.content.html_safe %>
    	</section>
        <footer class="post-footer">

        <section class="author">
                <h4><a href="/author/hannah/">Hannah Wolfe</a></h4>

                    <p>Hannah is the co-founder and lead developer at Ghost. She spends her days looking after Ghost's developer community, tracking down bugs &amp; ensuring Ghost(Pro) is a happy place.</p>
                <div class="author-meta">
                    <span class="author-location icon-location">London, UK</span>
                    <span class="author-link icon-link"><a href="http://hannah.wf">http://hannah.wf</a></span>
                </div>
            </section>

        <section class="share">
                <h4>Compartilhe este Post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text=A%20Full%20and%20Comprehensive%20Style%20Test&amp;url=http://demo.ghost.io/style-test/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://demo.ghost.io/style-test/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url=http://demo.ghost.io/style-test/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
            
        </footer>
    </article>
</main>