<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Finding The Way Home</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= asset_path "favicon.png"%>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
</head>
<body class=" <%= 'post-template' if not current_page?('/') %> nav-closed">
	<div class="nav">
	    <h3 class="nav-title">Menu</h3>
	    <a href="#" class="nav-close">
	        <span class="hidden">Close</span>
	    </a>
	    <ul>
	    	<li><a href="<%= request.base_url %>">Home</a></li>
	    	<li><a href="">Quem somos</a></li>
	    	<li><a href="">Categorias</a></li>
	    	<li><a href="">Contato</a></li>
	    </ul>
        <a class="subscribe-button icon-feed" href="#">Assinar</a>
	</div>
	<span class="nav-cover"></span>

    <div class="site-wrapper">

	    <%= yield %>

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="<%= request.base_url %>">Finding The Way Home</a> &copy; <%= Date.today.year %></section>
            <section class="poweredby">Desenvolvido em <a href="https://ghost.org">Ruby on Rails</a></section>
        </footer>

    </div>
</body>
</html>